html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
	background-color: black;
}

.pages {
	font-size: 100px;
	background-color: darkgray;
}

a {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: lightgrey;
}

@font-face {
  font-family: VCR;
  src: url(https://dl.dafont.com/dl/?f=vcr_osd_mono);
}

h1 {
	font-family: Arial, sans-serif;
	color: white;
	font-size: 25px;
	text-decoration: none;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 70px;
}

p {
	font-family: Arial, sans-serif;
	color: white;
	font-size: 15px;
	text-decoration: none;
	padding-left: 50px;
	padding-right: 50px;
}
